{%extends 'shared/layout.html'%}
{%block body%}
<div class="container">
    <!-- 功能列表 -->
    <div class="row mt-3">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                aria-controls="offcanvasRight">
                預覽題目
            </button>
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#export-modal">
                功能
            </button>

            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                頁面表單數量

            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="1">1</a></li>
                <li><a class="dropdown-item" href="5">5</a></li>
                <li><a class="dropdown-item" href="10">10</a></li>
            </ul>
        </div>
    </div>
    <!-- 試題表單 -->
    <div class="row mb-5">
        <div class="col-12">
            <hr>
            <div class="text-center">
                <form method="post">
                    <table class="table table-secondary table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>題目</th>
                                <th>答案</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for field in SA_form%}
                            {%if field != SA_form.submit and field != SA_form.csrf_token%}
                            <tr>
                                <td>
                                    {{loop.index-1}}{{field.csrf_token}}
                                </td>
                                <td>
                                    {{field.content(class="form-control",placeholder="請輸入題目")}}
                                </td>
                                <td>
                                    {{field.answer_box(class="form-control",placeholder="請輸入答案，如有多個答案請使用空格隔開")}}
                                </td>
                            </tr>
                            {%endif%}
                            {%endfor%}
                        </tbody>
                    </table>
                    {{SA_form.submit(class='btn btn-outline-primary input-group')}}
                    {{SA_form.hidden_tag()}}
                </form>
            </div>
        </div>
    </div>



    {% include 'shared/export.html' %}
    <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
        id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">預覽</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body px-4">
            <!-- 簡答題table -->
            <table class="table my-5">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">題目</th>
                        <th scope="col">答案</th>
                    </tr>
                </thead>
                <tbody>
                    {%for data in pm['SA']['list']%}
                    <tr>
                        <th scope="row">{{loop.index}}</th>
                        <td>{{data[0]}}</td>
                        <td>{{data[1]}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Total</th>
                        <td></td>
                        <td>{{pm['SA']['count']}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    {%endblock%}