{%extends "shared/layout.html"%}
{%block body%}
<div class="bg-dark text-secondary px-4 py-5 text-center" style="width: 100%;">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">問題反饋</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4"></p>
            <p class="fs-5 mb-4"># 歡迎回報使用問題、建議、BUG等。</p>
            <p class="fs-5 mb-4"># 請說明系統、裝置、瀏覽器種類等資訊。</p>
            <p class="fs-5 mb-4"># 本網站不儲存任何個人資料，以及題庫</p>
            <p class="fs-5 mb-4"># 暫存的題庫通過加密，保留在使用者自身瀏覽器</p>
            <p class="fs-5 mb-4"># 暫存的題庫保留時間為30天，30天後自動清除</p>
            <p class="fs-5 mb-4"># 作者:淡江大學 資管系 簡儀丞</p>
            <p class="fs-5 mb-4"># 2021/5/9</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="mailto:408637147@gms.tku.edu.tw">
                    <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">
                        發送郵件
                    </button>
                </a>
                <a href="/">
                    <button type="button" class="btn btn-outline-light btn-lg px-4">返回</button>
                </a>

            </div>
        </div>
    </div>
</div>


{%endblock%}