{%extends "shared/layout.html"%}
{%block body%}


<div id='jumbo' class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-md-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">Moodle試題產生網站</h1>
            <p class="lead">遠距教學的普及，讓學生在家也能不斷學習，moodle平台為此能生，而本站為了幫助不熟悉電腦的老師能夠快速建立題庫，採用簡單表格的方式產出Moodle gift
                format格式檔案，可以匯入moodle的題庫區完成快速建檔</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <a href="/builder">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">開始使用</button>
                </a>

                <a href="/contact">
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">反饋</button>
                </a>

            </div>
        </div>
        <div class="col-md-4 offset-md-1 p-0 position-relative overflow-hidden shadow-lg">
            <div class="position-lg-absolute top-0 left-0 overflow-hidden">
                <img id="index_pic" class="d-block rounded-lg-3" src="../static/picture/moodle.png" alt="">
            </div>
        </div>
    </div>
</div>

{%endblock%}